# Virtual environment
venv/
.venv/

# ML model
project/ml_models/trained_cnn_model.keras/
project/media/crop_images/*

# Other common ignores (optional but recommended)
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.envvenv/

# Ignore Python compiled files
**/__pycache__/
*.pyc
*.pyo

# Ignore SQLite DB
*.sqlite3


.env























































project/db.sqlite3
secrets.txt
